.fondo{
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
}

.encabezado{
    background-color:black;
}

.recetahambur{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color:orangered;
    color: black;
    padding: 2%;
    margin: 3% 40%;
    font-size: 2rem;
    display: block;
}
.hamburcaseras{
    background-color: orangered;
    text-align: center;
    margin: 0% 30%;
}

.diezhambur{
    color: blanchedalmond;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 1rem;
border: orangered solid;
margin: 3% 30%;
}

.mainlista{
background-color:orangered;
border:black solid;
}

.formulariopedido{
margin: 10% 0%;
text-align: center;
}
#campo_nombre{
    background: orangered;
    font-size: 1rem;
    height: 20px;
}

#botonreset{
    background: black;
    color: orangered;
    }
#botonpedir{
    background: black;
    color: orangered;
}